@model RentalKendaraan_20180140021.Models.Peminjaman

@{
    ViewData["Title"] = "Create";
}

<h2>Tambah Data</h2>

<h4>Peminjaman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TglPeminjaman" class="control-label"></label>
                <input asp-for="TglPeminjaman" class="form-control" />
                <span asp-validation-for="TglPeminjaman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKendaraanNavigation.NamaKendaraan" class="control-label"></label>
                <input asp-for="IdKendaraanNavigation.NamaKendaraan" class="form-control" />
                <span asp-validation-for="IdKendaraanNavigation.NamaKendaraan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCustomerNavigation.NamaCostumer" class="control-label"></label>
                <input asp-for="IdCustomerNavigation.NamaCostumer" class="form-control" />
                <span asp-validation-for="IdCustomerNavigation.NamaCostumer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJaminanNavigation.NamaJaminan" class="control-label"></label>
                <input asp-for="IdJaminanNavigation.NamaJaminan" class="form-control" />
                <span asp-validation-for="IdJaminanNavigation.NamaJaminan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biaya" class="control-label"></label>
                <input asp-for="Biaya" class="form-control" />
                <span asp-validation-for="Biaya" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kembali</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
